<div *ngIf="error">{{ error }}</div>
<div *ngIf="success">{{ success }}</div>
<div class="login-wrapper">
  <mat-toolbar>
    <h2>Login</h2>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-form">
        <mat-form-field class="full-width">
          <mat-label for="username">Username</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            [ngClass]="{
              'is-invalid': loginForm.submitted && formData.username.errors
            }"
          />
          <mat-error *ngIf="loginForm.submitted && formData.username.errors"
            >Username is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label for="password">Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': loginForm.submitted && formData.password.errors
            }"
          />
          <mat-error *ngIf="loginForm.submitted && formData.password.errors"
            >Password is required</mat-error
          >
        </mat-form-field>
        <button
          class="login"
          mat-raised-button
          [disabled]="loading"
          color="primary"
        >
          <span *ngIf="loading"></span>
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
