<app-auth-container>
  <div class="login">
    <mat-card>
      <mat-card-header>
        <mat-card-title translation="LoginComponent.login"></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="login__row">
            <mat-form-field>
              <mat-label for="username" translation="LoginComponent.username"></mat-label>
              <input formControlName="username" matInput type="text" />
              <mat-error *ngIf="loginForm.get('username').hasError('required')">{{
                'LoginComponent.usernameIsRequired' | i18n
              }}</mat-error>
              <mat-error *ngIf="loginForm.get('username').hasError('invalidUsernameOrPassword')">{{
                'LoginComponent.invalidUsernameOrPassword' | i18n
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="login__row">
            <mat-form-field>
              <mat-label for="password" translation="LoginComponent.password"></mat-label>
              <input formControlName="password" matInput type="password" />
              <mat-error *ngIf="loginForm.get('password').hasError('required')">{{
                'LoginComponent.passwordIsRequired' | i18n
              }}</mat-error>
              <mat-error *ngIf="loginForm.get('password').hasError('invalidUsernameOrPassword')">{{
                'LoginComponent.invalidUsernameOrPassword' | i18n
              }}</mat-error>
            </mat-form-field>
          </div>
          <button [disabled]="isLoading" class="login__loading-button" color="primary" mat-raised-button>
            <ng-container *ngIf="isLoading">
              <div class="login__loading-spinner">
                <mat-spinner [diameter]="20" color="primary"></mat-spinner>
              </div>
            </ng-container>
            <ng-container *ngIf="!isLoading">
              <mat-icon>exit_to_app</mat-icon>&nbsp;<span translation="LoginComponent.login"></span>
            </ng-container>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</app-auth-container>
