@import '../../../../assets/styles/defaults';

.candidate-list {
  background-color: $color-white;

  &__table-header {
    margin-left: 1rem;
    padding-top: 1rem;
  }

  &__table {
    width: 100%;
  }
}
