::ng-deep {
  div.mat-card-header-text {
    margin-left: 0 !important;
  }
}

.register {
  &__row {
    margin-bottom: 0.5rem;

    mat-form-field {
      width: 100%;
    }
  }

  mat-toolbar {
    justify-content: center;
  }

  &__loading-button {
    margin-top: 10px;
    width: 100%;

    span {
      display: flex;
      justify-content: center;
    }
  }

  &__loading-spinner {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    width: 100%;
  }
}

.mat-toolbar-single-row {
  background-color: lightblue;
}
