<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar__wrapper">
    <div (click)="onClickLogo()" class="toolbar__logo">
      <div class="toolbar__logo__icon">
        <mat-icon [inline]="true">camera</mat-icon>
      </div>
      <div class="toolbar__logo__text">
        UH Portal
      </div>
    </div>
    <div class="toolbar__menu">
      <ng-container *ngIf="!isLoggedIn()">
        <ng-container *ngIf="isLoginPage()">
          <a routerLink="/auth/register">
            <button aria-label="Login" mat-button>
              <mat-icon>add_circle</mat-icon>
              Create account
            </button>
          </a>
        </ng-container>

        <ng-container *ngIf="isRegisterPage()">
          <a routerLink="/auth/login">
            <button aria-label="Login" mat-button>
              <mat-icon>exit_to_app</mat-icon>
              Login
            </button>
          </a>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isLoggedIn()">
        <button (click)="onLogout()" aria-label="Logout" mat-button>
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
