<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar__wrapper">
    <div (click)="onClickLogo()" class="toolbar__logo">
      <div class="toolbar__logo__icon">
        <mat-icon [inline]="true">camera</mat-icon>
      </div>
      <div class="toolbar__logo__text">
        UH Portal
      </div>
    </div>
    <div class="toolbar__menu">
      <div class="toolbar__menu__left">
        <ng-container *ngIf="isLoggedIn()">
          <div
            [routerLink]="['/dashboard/candidates']"
            class="toolbar__menu__left__tile"
            routerLinkActive="toolbar__menu__left__tile--active"
          >
            {{ 'ToolbarComponent.candidates' | i18n }}
          </div>
        </ng-container>
      </div>
      <div class="toolbar__menu__right">
        <ng-container *ngIf="!isLoggedIn()">
          <ng-container *ngIf="isLoginPage()">
            <a routerLink="/auth/register">
              <button attr.aria-label="{{ 'ToolbarComponent.createAccount' | i18n }}" color="accent" mat-button>
                <mat-icon>add_circle</mat-icon>
                {{ 'ToolbarComponent.createAccount' | i18n }}
              </button>
            </a>
          </ng-container>

          <ng-container *ngIf="isRegisterPage()">
            <a routerLink="/auth/login">
              <button attr.aria-label="{{ 'ToolbarComponent.login' | i18n }}" color="accent" mat-button>
                <mat-icon>exit_to_app</mat-icon>
                {{ 'ToolbarComponent.login' | i18n }}
              </button>
            </a>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="isLoggedIn()">
          <button
            (click)="onLogout()"
            attr.aria-label="{{ 'ToolbarComponent.logout' | i18n }}"
            color="accent"
            mat-button
          >
            <mat-icon>exit_to_app</mat-icon>
            {{ 'ToolbarComponent.logout' | i18n }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</mat-toolbar>
