// BASE VALUES
$background-color: #eeeeee;
$base-width: 1190px;
$default-transition: 500ms;
$header-height: 4rem;

// COLORS
$color-white: rgba(255, 255, 255, 0.87);
$color-white-hover: rgba(255, 255, 255, 0.71);

// MIXINS
@mixin unselectable {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// Z-INDEXES
$toolbar-z-index: 3;
