// BASE VALUES
$background-color: #9fa8da;
$base-width: 1190px;
$default-transition: 500ms;
$header-height: 4rem;

// MIXINS
@mixin unselectable {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// Z-INDEXES
$header-z-index: 3;
