@import '../styles/animations';
@import '../styles/defaults';
@import '../styles/theme';
// Test
html,
body {
  background-color: $background-color;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

.mat-button {
  padding: 0 0.5rem !important;
}

h1 {
  color: #444;

  @include unselectable;
}

.ghost-element {
  align-items: center;
  animation: ghostElementAnimation 1000ms infinite;
  background-color: #aaa;
  border-radius: 0.25rem;
  color: transparent;
  display: inline-flex;
  height: 1rem;
  justify-content: center;
  opacity: 0.2;

  @include unselectable;
}

.mat-simple-snackbar-action {
  color: rgba(255, 255, 255, 0.7) !important;
  margin-right: -0.6875rem !important;
}

.notification-error {
  background-color: rgba(226, 37, 37, 0.875) !important;
}

.notification-warning {
  background-color: rgba(248, 252, 15, 0.875) !important;
}

.notification-success {
  background-color: $color-primary !important;
}
