@import '../../../../assets/styles/defaults';
@import '../../../../assets/styles/dialog';

@include dialog;

.language-selector-dialog {
  &__header {
    @include dialog-header;
  }

  &__content {
    @include dialog-content;
    @include unselectable;

    &__language-table {
      display: flex;
      flex-direction: column;

      div:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
      }

      div:last-child {
        border-radius: 0 0 0.25rem 0.25rem;
      }

      &__row {
        align-items: center;
        display: flex;
        height: 3rem;
        justify-content: space-between;
        padding-left: 0.5rem;
        transition: $default-transition;

        &--active {
          background-color: rgba(20, 121, 107, 1);
          color: $color-white;
        }

        &:hover:not(.language-selector-dialog__content__language-table__row--active) {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
      }
    }
  }

  &__footer {
    @include dialog-footer;
  }
}
