<div class="language-selector-dialog">
  <div class="language-selector-dialog__header">
    <h2>{{ 'LanguageSelectorDialogComponent.selectLanguage' | i18n }}</h2>
  </div>
  <div class="language-selector-dialog__content">
    <div class="language-selector-dialog__content__language-table">
      <div
        (click)="onSetTemporaryLanguage('en')"
        [ngClass]="{
          'language-selector-dialog__content__language-table__row--active': tmpSelectedLanguage === 'en'
        }"
        class="language-selector-dialog__content__language-table__row"
      >
        <div>
          {{ 'LanguageSelectorComponent.languages.en' | i18n }}
          <ng-container *ngIf="selectedLanguage === 'en'">
            <span>&nbsp;({{ 'LanguageSelectorDialogComponent.selected' | i18n }})</span>
          </ng-container>
        </div>
        <div class="language-selector-dialog__content__language-table__row__flag">
          <img alt="English flag" src="assets/images/flags/en.svg" />
        </div>
      </div>
      <div
        (click)="onSetTemporaryLanguage('hu')"
        [ngClass]="{
          'language-selector-dialog__content__language-table__row--active': tmpSelectedLanguage === 'hu'
        }"
        class="language-selector-dialog__content__language-table__row"
      >
        <div>
          {{ 'LanguageSelectorComponent.languages.hu' | i18n }}
          <ng-container *ngIf="selectedLanguage === 'hu'">
            <span>&nbsp;({{ 'LanguageSelectorDialogComponent.selected' | i18n }})</span>
          </ng-container>
        </div>
        <div class="language-selector-dialog__content__language-table__row__flag">
          <img alt="Hungarian flag" src="assets/images/flags/hu.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="language-selector-dialog__footer">
    <button mat-button (click)="onClickCancel()" tabindex="-1">
      {{ 'General.cancel' | i18n }}
    </button>
    <button
      [disabled]="tmpSelectedLanguage === selectedLanguage"
      [mat-dialog-close]="tmpSelectedLanguage"
      color="primary"
      mat-raised-button
    >
      {{ 'LanguageSelectorDialogComponent.selectLanguage' | i18n }}
    </button>
  </div>
</div>
