.register-wrapper {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

mat-toolbar {
    justify-content: center;
}


.mat-toolbar-single-row {
    background-color: lightblue;
}
